@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Roboto:100);
html {
	height:100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

body div.opacity {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 100%;
	background-size: cover;
}

div.form-group {
	height: 20px;
	width: 200px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0 auto;
}


div#home {
	background-image: url(http://d3lp4xedbqa8a5.cloudfront.net/s3/digital-cougar-assets/BauerCorporate/2014/04/30/5180/Gourmet_Traveller_header_image_1.jpg?maxHeight=600&maxWidth=1200&valign=Center&align=Center&scale=both&mode=crop&format=jpg&quality=70);
	background-repeat:no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

div#home p#logo img.center-block {
	height: 500px;
	width: 750px;
	text-align: center;
	margin: 0 auto;
  
}

.form-group label {
	color: white;
	font-size: 20px;
	text-align: center;
}

.navbar {
	margin: 0;
	border-radius: 0;
}

.btn {
	background-color: black;
	border: white;
}

.btn:hover {
	background-color: #77A1AF;
}

div#signup {
	background-image: url(https://us-east.manta.joyent.com/condenast/public/cnt-services/production/2014/10/06/54330e33e764c812492ba62d_food-photography-tips-2048-1152.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

#signupLegend {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 40px;
	text-align: center;

}

div#loginPg {
	background-image: url(http://www.secondnaturegourmet.com/wp-content/uploads/2015/03/164606-13016551-NOHM_43485_jpg.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

#loginLegend {
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 40px;
}

/* Styling for show all restaurants list */

#restaurantsList {
	background-image: url('http://proof.nationalgeographic.com/files/2014/09/140903-paley-food-grid1.jpg');
	text-align: center;
	color: white;
	background-size: cover;
	background-repeat: repeat-y;
	width: 100%;
}

#restaurantsList h2 {
	display: inline;
}

#restaurantsHeader {
	font-size: 3.5em;
	display: inline;
}

div.restaurantsContainer {
	margin-top: 2%;
}

#restaurantsList div a {
	display: block;
}

#restaurantsList a {
	color: #66DEFF;
}

div.restaurantTitle {
	width: 100vw;
	margin-left: -15px;
}

span.glyphicon {
    font-size: 2em;
}

span.left {
	padding-right: 2%;
}

span.right {
	padding-left: 2%;
}