<div id="restaurantsList">
  <div class="container opacity">
    <span class="glyphicon glyphicon-star left"></span>
    <h1 id="restaurantsHeader">Participating Restaurants</h1>
    <span class="glyphicon glyphicon-star right">   </span>
    <br />
    <div class="restaurantsContainer" ng-repeat="restaurant in restaurants track by $index">
      <div class="col-sm-12 restaurantTitle">
        <h1>
          <a href="{{ restaurant.link }}">
            <h1>{{ restaurant.name | uppercase }}</h1>          
          </a>
        </h1>
      </div>
      <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
          <span class="left glyphicon glyphicon-globe"></span>
          <h2>{{ restaurant.cuisine }}</h2>
        </div>
        <div class="col-sm-4">
          <span class="left glyphicon glyphicon-map-marker"></span>
          <h2>{{ restaurant.neighborhood }}</h2>
        </div>
        <div class="col-sm-4">
          <span class="left glyphicon glyphicon-time"></span>
          <h2>{{ restaurant.meal }}</h2>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div> 