<div id="home">
	<div class="opacity">

		<p id="logo"><img class="center-block" src="images/seattleweekbadge2.png"></p>

		<div class="row row-centered" id="searchbar">

			<div class="col-md-10 col-md-offset-1">

				<div class="form-group">
				  <label for="search">Name</label>
				  <input type="text" class="form-control" id="search">
				</div>


				<div class="form-group">
				  <label for="search">Cuisine</label>
				  <input type="text" class="form-control" id="search">
				</div>


				<div class="form-group">
				  <label for="search">Neighborhood</label>
				  <input type="text" class="form-control" id="search">
				</div>


				<div class="form-group">
				  <label for="search">Meal</label>
				  <input type="text" class="form-control" id="search">
				</div>
				<a href="" class="btn btn-success">Search</a>
				<a href="/restaurants" class="btn btn-success">See all the restaurants</a>
			</div>
		</div>
	</div>
</div>









	





	

