<div id='signup'>
  <div class="opacity">
    <form ng-submit="userSignup()">
      <legend id='signupLegend'>Signup</legend>

      <div class="col-md-7 col-md-offset-4">

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="example@123.com" ng-model="user.email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="******" ng-model="user.password">
      </div>

      <button type="submit" class="btn btn-primary">Signup</button>
    </form>
    </div>
  </div>
</div>